GOTTY_PORT=5004

#Credentials for web tmux access
ADMIN=
ADMIN_PASSWORD=

#DNS name for your machien 
TAILSCALE_FUSION_SERVER_DNS=fusion-center
TAILSCALE_DOMAIN=ladon-kardashev.ts.net

TAILSCALE_CERT_NAME=${TAILSCALE_FUSION_SERVER_DNS}.${TAILSCALE_DOMAIN}