aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
attrs==26.1.0
bidict==0.23.1
certifi==2026.4.22
charset-normalizer==3.4.7
contourpy==1.3.3
cycler==0.12.1
filelock==3.29.0
fonttools==4.62.1
frozenlist==1.8.0
fsspec==2026.4.0
h11==0.16.0
idna==3.13
Jinja2==3.1.6
joblib==1.5.3
kiwisolver==1.5.0
MarkupSafe==3.0.3
matplotlib==3.10.9
mpmath==1.3.0
multidict==6.7.1
narwhals==2.20.0
netifaces==0.10.6
networkx==3.6.1
numpy==2.4.4
opencv-python==4.13.0.92
ordered-set==4.1.0
packaging==26.2
paho-mqtt==2.1.0
pillow==12.2.0
plotly==6.7.0
propcache==0.4.1
psutil==7.2.2
pyFFTW==0.15.1
pymap3d==3.2.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-engineio==4.13.1
python-socketio==5.16.0
requests==2.33.1
rtree==1.4.1
ruamel.yaml==0.19.1
scikit-learn==1.8.0
scipy==1.17.1
setuptools==3.3
simple-websocket==1.1.0
six==1.17.0
socketio==0.2.1
stonesoup==1.8
sympy==1.14.0
threadpoolctl==3.6.0
torch==2.10.0
typing_extensions==4.15.0
urllib3==2.6.3
utm==0.8.1
websocket-client==1.9.0
wsproto==1.3.2
yarl==1.23.0
